@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

.score-container {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #ffffff;
  user-select: none;
}

.start-game-container,
.game-over-container {
  position: absolute;
  background: #ffffff;
  padding: 40px;
  width: 550px;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.start-game-container h1,
.game-over-container h1 {
  line-height: 100%;
}

.start-btn,
.restart-game-btn {
  font-family: inherit;
  border: none;
  background: #4169e1;
  color: #ffffff;
  width: 250px;
  padding: 12px 40px;
  border-radius: 100px;
  font-size: 15px;
  margin-top: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.start-btn:hover {
  background: #2452dc;
}
